<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<title>Slim: {{ user.username }}</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='style/profile.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<header class="header">
			<a href="{{ url_for('view_frontpage') }}" class="home-button"><img class="home-button-icon" src="/static/img/home.png" alt="Home"></img></i></a>
			{% set page_url = url_for('view_user', username=user.username) %}
			<span class="header-title"><a href="{{ page_url }}">{{ user.username }}</a></span>
		</header>
		<div class="content">
			<div class="profile-container">
				<ul class="profile-info-list">
					<li><span class="profile-info-property">Joined:</span> {{ user.joined_time_string }}</li>
				</ul>
				<ul class="profile-info-list">
					<li><span class="profile-info-property">Link karma:</span> {{ user.link_karma }}</li>
					<li><span class="profile-info-property">Comment karma:</span> {{ user.comment_karma }}</li>
				</ul>
				<ul class="profile-info-list">
					{% set submissions_url = url_for('view_user_submissions', username=user.username) %}
					<li><a href="{{ submissions_url }}" class="profile-hyperlink">View submissions</a></li>
					{% set comments_url = url_for('view_user_comments', username=user.username) %}
					<li><a href="{{ comments_url }}" class="profile-hyperlink">View comments</a></li>
				</ul>
			</div>
		</div>
		<footer class="footer">
			<ul class="footer-links">
				<li class="footer-links-item"><a href="#" class="footer-link">About</a></li>
				<li class="footer-links-item"><a href="#" class="footer-link">Contact</a></li>
			</ul>
			<span>Made by <a href="https://calebh.com" class="footer-link">Caleb</a></span>
		</footer>
	</div>
</body>
</html>
